
{% extends 'base.html' %}
{% block content %}  

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto  mb-3">
  
<div class="col mx-auto mb-3">
        <h2>List of Drinks</h2>
        <hr />
</div>
<p class="card-text">
<form method="GET">
<div class="row">
<div class="col-auto">
<div class="input-group col-auto">
 <div class="input-group-text"> 
  Search</div>
 <input type="text" class="form-control" 
 name="search">
</div>
</div>
<div class="col-auto">
<button class="btn bg-dark text-white"
    type="submit">Search</button>
    </div>
  </div>
</form>
</p>

</div>
</div>
</div>
</div>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto  mb-3">
{% for drink in template_data.drinks %}
   <h3>
    {{drink.name}}
   </h3>
{% endfor %}
</div>
</div>
</div>
</div>



  {% endblock content %}