{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
 <div class="container">
 <div class="row mt-3">
 <div class="col-md-6 mx-auto mb-3">
 <h2>{{ template_data.movie.name }}</h2>
 <hr />
 <p><b>Description:</b> {{ template_data.movie.description }}</p>
 <p><b>Price:</b> ${{ template_data.movie.price }}</p>
 {% comment %} --- Movie Rating Section --- {% endcomment %}
{% if template_data.movie %}
  {% with ratings=template_data.movie.rating_set.all %}
    {% if ratings %}
      <p><b>Average Rating:</b>
        {% if template_data.avg_rating %}
          {{ template_data.avg_rating }} / 5
        {% else %}
          No ratings yet
        {% endif %}
      </p>
      {% if template_data.user_rating %}
        <p>Your rating: {{ template_data.user_rating.value }} / 5</p>
      {% endif %}
    {% else %}
      <p><b>Average Rating:</b> No ratings yet</p>
    {% endif %}
  {% endwith %}
{% endif %}


{% if user.is_authenticated %}
  <form method="POST" action="{% url 'movies.rate_movie' id=template_data.movie.id %}">
    {% csrf_token %}
    <label for="rating"><b>Rate this movie:</b></label><br>
    <select name="rating" id="rating" class="form-select w-auto d-inline-block">
      <option value="">-- Select --</option>
      {% for i in "12345" %}
        <option value="{{ i }}">{{ i }} Star{{ i|pluralize }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-outline-dark btn-sm">Submit</button>
  </form>
{% else %}
  <p><i><a href="{% url 'login' %}">Log in</a> to rate this movie.</i></p>
{% endif %}
<hr />
 <p class="card-text">
 <form method="post"
 action="{% url 'cart.add' id=template_data.movie.id %}">
 <div class="row">
 {% csrf_token %}
 <div class="col-auto">
 <div class="input-group col-auto">
 <div class="input-group-text">Quantity
 </div>
 <input type="number" min="1" max="10"
 class="form-control quantity-input"
name="quantity" value="1">
 </div>
 </div>
 <div class="col-auto">
 <button class="btn bg-dark text-white"
 type="submit">Add to cart</button>
 </div>
 </div>
 </form>
</p>
<h2>Reviews</h2>
 <hr />
 <ul class="list-group">
 {% for review in template_data.reviews %}
 <li class="list-group-item pb-3 pt-3">
 <h5 class="card-title">
 Review by {{ review.user.username }}
 </h5>
 <h6 class="card-subtitle mb-2 text-muted">
 {{ review.date }}
 </h6>
 <p class="card-text">{{ review.comment }}</p>
 {% if user.is_authenticated and user == review.user %}
 <a class="btn btn-primary" href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}"> 
    Edit 
</a> 
<a class="btn btn-danger" href="{% url 'movies.delete_review' id=template_data.movie.id review_id=review.id %}">Delete
 </a>

{% endif %}
</li>
{% endfor %}

 </ul>

 {% if user.is_authenticated %}
 <div class="container mt-4">
 <div class="row justify-content-center">
 <div class="col-12">
 <div class="card shadow p-3 mb-4 rounded">
 <div class="card-body">
 <b class="text-start">Create a review
 </b><br /><br />
 <form method="POST" action= "{% url 'movies.create_review' id=template_data.movie.id %}">
{% csrf_token %}
<p>
 <label for="comment">Comment:</label>
<textarea name="comment" required
class="form-control"
id="comment"></textarea>
 </p>
 <div class="text-center">
 <button type="submit"
 class="btn bg-dark text-white">
Add Review
 </button>
 </div>
 </form>
 </div>
 </div>
 </div>
 </div>
 </div>
 {% endif %}
 </div>
 <div class="col-md-6 mx-auto mb-3 text-center">
 <img src=" {{ template_data.movie.image.url }}" class= "rounded img-card-400" />
 </div>
 </div>
 </div>
</div>
{% endblock content %}